<div class="dashboard">

  <!-- GREETING -->
  <div class="greet">
    <h2 id="name">Hi , <span style="color: rgb(56, 233, 56);" >{{userName}}</span> 👋</h2>
  </div>

  <!-- CARDS -->
<div class="cards">

  <mat-card class="card budget">
    <div class="card-left">
      <div class="icon-box">
        <mat-icon>account_balance_wallet</mat-icon>
      </div>
      <div class="text">
        <h3>Budget</h3>
       <!---- <p>{{ tableDataSource.Data.length }} Transactions</p> -->
       <p>{{ tableDataSource.data.length }} Transactions</p>
      </div>
    </div>

    <div class="card-right">
      ₹{{ userBudget }}
    </div>
  </mat-card>

  <mat-card class="card expense">
    <div class="card-left">
      <div class="icon-box">
        <mat-icon>trending_down</mat-icon>
      </div>
      <div class="text">
        <h3>Expense</h3>
        <p>Total spent</p>
      </div>
    </div>

    <div class="card-right">
      ₹{{ userExpense }}
    </div>
  </mat-card>

  <mat-card class="card remaining">
    <div class="card-left">
      <div class="icon-box">
        <mat-icon>savings</mat-icon>
      </div>
      <div class="text">
        <h3>Remaining</h3>
        <p>Available balance</p>
      </div>
    </div>

    <div class="card-right">
      ₹{{remainsBudget}}
    </div>
  </mat-card>

</div>

<div id="beforeMain">
       <button mat-raised-button color="primary" (click)="openAddExpense()">
  ➕ Add Expense
 </button>
 

 <div class="sort-wrapper">

  <button mat-button [matMenuTriggerFor]="sortMenu" class="sort-btn">
    <mat-icon>tune</mat-icon>
    {{ getSortLabel() }}
    <mat-icon class="arrow">expand_more</mat-icon>
  </button>

  <mat-menu #sortMenu="matMenu" class="sort-menu">

    <button mat-menu-item (click)="applySort('latest')">
      <mat-icon>schedule</mat-icon>
      <span>Latest First</span>
      <mat-icon *ngIf="selectedSort === 'latest'" class="check">check</mat-icon>
    </button>

    <button mat-menu-item (click)="applySort('high')">
      <mat-icon>trending_down</mat-icon>
      <span>Amount: High to Low</span>
      <mat-icon *ngIf="selectedSort === 'high'" class="check">check</mat-icon>
    </button>

    <button mat-menu-item (click)="applySort('low')">
      <mat-icon>trending_up</mat-icon>
      <span>Amount: Low to High</span>
      <mat-icon *ngIf="selectedSort === 'low'" class="check">check</mat-icon>
    </button>

  </mat-menu>

</div>

<!----AI Summary Button--->
<button class="ai-btn-solid" (click)="openAiSummary()">
  <span class="icon">✨</span>
  AI Summary
</button>
</div>


  <!-- MAIN -->
  <div class="main-section">

    <!-- TABLE -->
    <mat-card class="table-card">

      <h3>Recent Expenses</h3>

      <table mat-table [dataSource]="tableDataSource" class="modern-table">

        <!-- Title -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let e">{{ e.title }}</td>
        </ng-container>

        <!-- Amount -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let e">₹{{ e.amount }}</td>
        </ng-container>

        <!-- Category -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let e">
            <span class="badge">{{ e.category }}</span>
          </td>
        </ng-container>

        <!-- Date -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let e">{{ e.expense_date }}</td>
        </ng-container>

        <!-- Payment -->
        <ng-container matColumnDef="payment">
          <th mat-header-cell *matHeaderCellDef>Payment</th>
          <td mat-cell *matCellDef="let e">{{ e.payment_method }}</td>
        </ng-container>

        <!-- Notes -->
        <ng-container matColumnDef="notes">
          <th mat-header-cell *matHeaderCellDef>Notes</th>
          <td mat-cell *matCellDef="let e">
            <button mat-button color="primary" (click)="openNotes(e.notes)">
              View
            </button>
          </td>
        </ng-container>

        <!-- Update -->
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef>Update</th>
         <td mat-cell *matCellDef="let e">
    <!---- <button mat-button color="green" (click)="openEditExpense(e, tableDataSource.indexOf(e))"> --->
         <button mat-button color="green" (click)="openEditExpense(e, tableDataSource.data.indexOf(e))">      
    Edit ✏️
  </button>
</td>
        </ng-container>

        <!-- Delete -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let e; let i = index">
            <button mat-icon-button color="warn" (click)="openDeleteDialog(e)">
             Delete 🗑️
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

      </table>
   <mat-paginator 
  [pageSizeOptions]="[5, 10, 20]" 
  pageSize="5"
  showFirstLastButtons>
</mat-paginator>


    </mat-card>

    <!-- CHART -->
    <div class="right">
      <mat-card>
        <h3>Expense Analysis</h3>
        <div class="chart-container">
          <canvas id="expenseChart"></canvas>
        </div>
      </mat-card>
    </div>

  </div>

</div>

<!-- NOTES MODAL -->
<div class="overlay" *ngIf="selectedNote">

  <mat-card class="modal-card">

    <button class="close-btn" (click)="closeNotes()">✖</button>

    <h3>Notes</h3>

    <p>{{ selectedNote }}</p>

  </mat-card>

</div>

<!-- DELETE MODAL -->
<div class="overlay" *ngIf="selectedDeleteIndex !== null">

  <mat-card class="modal-card">

    <button class="close-btn" (click)="closeDeleteDialog()">✖</button>

    <h3>Delete Expensecd </h3>

    <p>Are you Sure?</p>

    <div class="actions">
      <button mat-stroked-button (click)="closeDeleteDialog()">Cancel</button>

      <button mat-raised-button color="warn" (click)="deleteExpense()">
        Delete
      </button>
    </div>

  </mat-card>

</div>